.marrefaimage{
  height: 12vh;
}
.userImage{
  height: 7vh;
  margin-top: 0vh;
}

.overflow{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  /* overflow-x: hidden; */
  flex: 0 0 12em;
  transition: all 2s ease
}

.sidebarList{
  padding: 2vh;

}
.project-tab {
    padding: 8vh 10%;
    margin-top: -8%;
}


.project-tab .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
    
}
.tabs{
  border: 1px solid #dee2e6 ;
  margin: 4vh 10vh;
  border-radius: 2%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: fit-content;

}
.center {
  display: flex;
  justify-content: center;
}

.buttonRemovedCss{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.anchor_unpressable{
  pointer-events: none;
  cursor: default;
  
}